dag {
    enabled = true
    file = '../results/nextflow/dag.html'
    overwrite = true
}

docker {
    enabled = true
    platform = 'linux/amd64'
    runOptions = '--volume $DATA_PATH:/tmp/data'
}

env {
    RESULTS_PATH = '../results'
}

params {
    capsule_build_precomputed_annotation_indices_all_capsules_via_git_1_args = "--capsule='capsule_generate_config' --data_source_name='synapses_pni_2_v1_filtered_view__v1412__test'"
    capsule_build_precomputed_annotation_indices_all_capsules_via_git_2_args = "--capsule='capsule_generate_input_split_ranges' --data_source_name=''"
    capsule_build_precomputed_annotation_indices_all_capsules_via_git_3_args = "--capsule='capsule_decompress_input' --data_source_name=''"
    capsule_build_precomputed_annotation_indices_all_capsules_via_git_4_args = "--capsule='capsule_generate_input_split' --data_source_name=''"
    capsule_build_precomputed_annotation_indices_all_capsules_via_git_5_args = "--capsule='capsule_generate_id_index_config' --data_source_name=''"
    capsule_build_precomputed_annotation_indices_all_capsules_via_git_6_args = "--capsule='capsule_generate_shard_worker_ids' --data_source_name=''"
    capsule_build_precomputed_annotation_indices_all_capsules_via_git_7_args = "--capsule='capsule_build_id_index' --data_source_name=''"
    capsule_build_precomputed_annotation_indices_all_capsules_via_git_8_args = "--capsule='capsule_generate_id_index_shards' --data_source_name=''"
}

process {
    debug = true
    queue = ''
    withLabel: 'gpu|process_gpu' {
        queue = ''
    }
}

report {
    enabled = true
    file = '../results/nextflow/report.html'
    overwrite = true
}

timeline {
    enabled = true
    file = '../results/nextflow/timeline.html'
    overwrite = true
}

trace {
    enabled = true
    file = '../results/nextflow/trace.txt'
    overwrite = true
}
